---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Le Festival">
  <h1>À propos du festival</h1>
  <section class="description">
  <h2>Notre Histoire</h2>
  <p>Le Flying Tap Fest est un festival né d’une ambition claire : réunir l’énergie rythmée des claquettes et la poésie lumineuse des drones, afin de proposer une expérience artistique nouvelle. Imaginé dans le cadre d’une stratégie de communication axée sur la modernité et l’ouverture culturelle, le festival voit le jour avec la volonté de dépoussiérer la discipline des claquettes tout en respectant son héritage.
    Le festival se déroule au Parc du Près-la-Rose à Montbéliard, les 6 et 7 juin 2026, au début de la période estivale, pour accueillir aussi bien les familles, les passionnés de danse, que les curieux en quête d’expériences innovantes</p>
    <img src="/public/image1_apropos.jpg" alt="Image 1" />
  
</section>
  <section class="équipe">
    <h2>Notre Mission</h2>
    <p>Notre mission est de créer un pont entre les générations et les cultures à travers une programmation artistique audacieuse. En mettant en avant des artistes de renom et des talents émergents, nous souhaitons offrir une plateforme où la tradition rencontre l’innovation, et où le public peut vivre une expérience immersive unique. Nous sommes convaincus que l’art a le pouvoir de rassembler les gens, de transcender les barrières et de créer des souvenirs inoubliables.</p>
  </section>

</Layout>
