---
import '../styles/global.css';

const { title } = Astro.props;
import Nav from "../components/Nav.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>

		<slot />

  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <header>
      <Nav />
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <p>© 2026 - Festival</p>
    </footer>
  </body>
</html>
